* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: #7c7c7c;
    color: #F8F4EA;
    font-size: 25px;
}
.main-header {
    font-size: 60px;
    padding: 60px;
    text-align: center;
    color: #F7F4EA;
    font-family: helvetica;
}
nav {
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    background: #58A4B0;
}
a:link {
    color: #F7F4EA;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #F7F4EA;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #550C18;
    background-color: transparent;
    text-decoration: underline;
}
h2, h3, h4 {
    font-size: 40px;
    background-color:#9829BE;
    margin-right: 700px;
    margin-left: -20px;
    border-width: 1px;
    border-radius: 50px;
    padding-left: 30px;
    display: flex;
    font-family: helvetica;
    /* could probably id the headers to try and reduce repeating code, namely fonts, size, and such */
}
img {
    width: 10%;
    height: auto;
    padding-left: 20px;
}
footer {
    /* footer does not stick to the bottom when viewed on smaller mobile devices */
    background:#58A4B0;
    height: 50px;
    font-size: 20px;
    text-align:center;
    flex-basis: 50px;
	padding: 20px;
	box-sizing: border-box;
}
li {
    margin: 15px 0;
}
html {
    scroll-behavior: smooth;
    /* makes the website scroll smoothly to content when a link is clicked as opposed to jumping, pretty neat imo */
}
.back-to-top {
    /* test code to try and correct the footer not fitting properly */
	/* this needs to fill the viewport
	position fixed will work on modern mobile devices. */
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	/* add flex-box */
	display:flex;
	flex-direction:column;
}